          
<section class="article-list-item">
  <div class="article-list-item__card">
    <div class="article-list-item__body">
      <%= link_to article_path(article) do %>
        <div class="article-list-item__imgContainer">
          <%= image_tag article.image, alt: article.title, class: "article-list-item__img" %>
        </div>
        <div class="article-list-item__info">
          <h3 class="article-list-item__title">
            <%= article.title %>
          <h3>
          <p class="article-list-item__description">
            <%= article.text.truncate(30) %>
          </p>
          <div class="article-list-item__status_container">
            <div class="article-list-item__status article-list-item__status--like">
              <div class="article-list-item__icon">
                <%= icon("far", "heart", class: "a-icon a-icon--heart")%>
              </div>
              <div class="article-list-item__label">
                1
              </div>
            </div>
            <div class="article-list-item__status article-list-item__status--price">
            <% if article.buy_setting == true %>
                <div class="article-list-item__icon article-list-item__icon--heart">
                  <%= icon("fas", "yen-sign", class: "a-icon a-icon--price")%>
                </div>
                <div class="article-list-item__label">
                  <%= article.price %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="article-list-item__footer">
          <div class="article-list-item__userInformation">
            <div class="article-list-item__userName">
              <%= link_to article.user.nickname, "#", class: "a-link" %><%# users#showにいく  %>
            </div>
            <div class="article-list-item__userDate">
              <%= link_to "#", class: "a-link" do %>
                <span><%= time_ago_in_words(article.created_at, include_seconds: true) %>前</span>
              <% end %>
            </div>
          </div>
          <div class="article-list-item__like">
            <%= link_to "#", class: "a-link" do %>
              <%= icon("far", "heart", class: "a-icon a-icon--heart")%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
