<%= render "shared/another_header" %>
<main class="form-group">
  <section class="form-container form-container--articleForm">
    <%= form_with model: @article, class: "register-form", local: true do |f|%>
    <%= render "shared/error_messages", model: f.object %>
      <div class="register-form-content">
        <div class="register-form-group">
        </div>
        <div class="register-form-group register-form-group--flexBox">
          <%= f.label :image, class: "register-form-group__label" do %>
          <%# <label class="register-form-group__label" for="article-image"> %>
            <%= icon("fas", "image fa-3x", class: "register-form-group__imgIcon") %>
            <%= f.file_field :image, class: "register-form-group__imgField", id: "article_image" %>
            <%# <input name="image" type="file" class="register-form-group__imgField" id="article-image"> %>
          <% end %>
          <div class="register-form-group__submitBtn">
            <a href="#" class="a-btn" id="js-form-posting-article">
              <div class="a-btn__inner">投稿設定</div>
            </a>
          </div>
        </div>
        <div class="register-form-group register-form-group--articleTitle">
          <span class="register-form-group__require">必須</span>
          <%= f.text_field :title, placeholder: "記事のタイトル", class: "register-form-group__textField register-form-group__textField--articleTitle" %>
          <%# <input name="title" type="text" placeholder="記事のタイトル" class="register-form-group__textField register-form-group__textField--articleTitle"> %>
        </div>
        <div class="register-form-group register-form-group--articleText">
          <span class="register-form-group__require">必須</span>
          <%= f.text_area :text, placeholder: "記事の本文", class: "register-form-group__textField register-form-group__textField--articleText" %>
          <%# <textarea name="text" type="text" placeholder="記事の本文" class="register-form-group__textField register-form-group__textField--articleText"></textarea> %>
        </div>
      </div>

      <%#= 投稿設定のとこ %>
      <div class="register-form-modal display_none" id="js-form-modal">
        <div class="modal-wrapper">
          <div class="modal-content modal-content--basic">
            <header class="modal-content__header">
              <div class="modal-content__title">
                投稿設定
              </div>
            </header>
            <div class="moddal-content__body">
              <div class="modal-content__bodyItems">
                <div class="modal-content__bodyItem">
                  <div class="modal-content__title modal-content__bodytitleItem">
                    <h3 class="modal-content__titleItemName">
                      料金設定
                    </h3>
                  </div>
                  <div class="modal-content__checkBox">
                    <%= f.label :buy_setting, "無料", value: false, class: "register-form-group__free" %>
                    <%= f.radio_button :buy_setting, :false, checked: true, class: "register-form-group__checkBox register-form-group__checkBox--free", id: "js-free" %>
                    <%= f.label :buy_setting, "有料", value: true, value: false, class: "register-form-group__free" %>
                    <%= f.radio_button :buy_setting, :true, class: "register-form-group__checkBox register-form-group__checkBox--free", id: "js-free" %>
                  </div>
                </div>
                <div class="modal-content__bodyItem display_none" id="js-modal-price">
                  <div class="modal-content__title modal-content__bodytitleItem modal-content__title--price">
                    <h3 class="modal-content__titleItemName">
                      価格
                    </h3>
                  </div>
                  <div class="modal-content__price">
                    <div class="register-form-group">
                      <input name="price" type="text" placeholder="記事の価格" class="register-form-group__textField register-form-group__textField--price">
                    </div>
                  </div>
                </div>
              </div>
            </div>            
            <footer class="modal-content__footer">
              <div class="modal-content__btnGroup">
                <a href="#" class="a-btn a-btn--small modal-content__stopPosting" id="js-modal-cancel">
                  <div class="a-btn__inner a-btn__inner--small">キャンセル</div>
                </a>
                <%= f.submit "投稿する", class: "a-btn a-btn__inner--small a-btn--small a-btn--primary modal-content__posting" %>
                <%# <input name="hoge" value="投稿する" type="submit" placeholder="記事のタイトル" class="a-btn a-btn__inner--small a-btn--small a-btn--primary modal-content__posting"> %>
              </div>
            </footer>
          </div>
        </div>
      </div>
      <%#= 投稿設定のとこ %>

    <% end %>
  </section>
</main>