<header class="header-container">
  <div class="header-content">
    <h1 class="header-content__logo">
      <%= link_to root_path, class: "header-content__logoLink" do %>
        <%= icon("fas", "pencil-alt", class: "header-content__logoImg") %>
        BLOG APP
      <% end %>
    </h1>

    <div class="header-content__search">
      <form class="header-content__searchForm">
        <input type="text" class="header-content__searchInput" placeholder="記事を検索してみましょう！">
        <button class="header-content__searchBtn">
          <%= icon("fas", "search", class: "header-content__searchBtnIcon") %>
        </button>
      </form>
    </div>

    <div class="header-content__btns">
      <% if user_signed_in? %>
        <div class="header-content__btn">
          <%= link_to new_article_path, class: "a-btn header-content__btnLink header-content__btnLink--article_new" do %>
            <div class="a-btn__inner">
              新規投稿
            </div>
          <% end %>
        </div>
        <div class="header-content__btn">
          <%= link_to destroy_user_session_path, class: "a-btn header-content__btnLink header-content__btnLink--logout", method: :delete do %>
            <div class="a-btn__inner">
              ログアウト
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="header-content__btn">
          <%= link_to new_user_session_path, class: "a-btn header-content__btnLink header-content__btnLink--login" do %>
            <div class="a-btn__inner">
              ログイン
            </div>
          <% end %>
        </div>
        <div class="header-content__btn">
          <%= link_to new_user_registration_path, class: "a-btn header-content__btnLink header-content__btnLink--signUp" do %>
            <div class="a-btn__inner">
              新規登録
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>